# compiled output
dist
tmp
*.tsbuildinfo

# dependencies
node_modules

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# misc
/coverage
npm-debug.log

# System Files
.DS_Store
Thumbs.db

# Replit leftovers
.cache/
.local/
.agents/
